<table>
    <% @result.each do |stroka| %> 
    <tr>         
            <% stroka.each do |d| %>  
            <td>
            <%= d %> <br> 
            </td>
            <% end %>        
    </tr>
    <% end %>



</table>
<%= @count %> <br>
<%= link_to "Назад", :seq_input %>